<link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet" type="text/css"">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet" type="text/css"">

.images{border-radius: 5px;width: 90px;border:3px solid var(--white);}
.titre{width:200px;text-align:center;font-family: 'Prata', serif;text-transform:uppercase;font-size:9px;line-height:13px;color:var(--couleurtitre1);} 
.texte{width:195px;text-align:justify;font-size:10px;line-height: 110%;font-family: 'Montserrat',sans-serif;}
